*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    display: grid;
    height: 2000px;
    width: 100%;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
}

header{
    height: 100px;
    width: 100%;
    flex-wrap: wrap;
    grid-area: header;    
}

header span{
    background-color: white;
    width: 10%;
    height: 100%;
    float: left;
}

header span img{
    height: 50%;
    padding: 23px;
    border:  red 2px dashed;
}

#menuNavegacion{
    background-color: white;
    width: 90%;
    height: 50%;
    float:right;
}
#menuNavegacion ul{
    display: flex;
    justify-content: flex-end;
}

#menuNavegacion ul li{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    margin-right: 20px;
    margin-top: 5px;
}

#menuNavegacion ul li a{
    color: black;
}

#menuCarrito{
    background-color: white;
    width: 90%;
    height: 50%;
    float:right;
}

#menuCarrito ul{
    display: flex;
    justify-content: space-around;
}

#menuCarrito ul li{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
}

#menuCarrito ul li a{
    color:red;
}

main{
    background-color: slategrey;
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: "pd1 pd1 pd1 pd1"
                         "pd2 pd2 pd2 pd2"
                         "pp pp pp pp"
                         "cp cp cp cp";
}                   

.productoDestacado{
    background-color:blueviolet;
    grid-area: pd1;
}

.productoDestacado2{
    background-color:orange;
    grid-area: pd2;
}

.pedidoPersonalizado{
    background-color:rgb(21, 166, 185) ;
    grid-area: pp;
}

.catalogoPopular{
    background-color: plum;
    grid-area: cp;
}

#botoneraPopular{
    display: flex;
    justify-content: space-around;
}


#botoneraPopular li{
    background-color: sandybrown;
}

#video1{
    width: 100%;
}

footer{
    background-color: white;
    grid-area: footer;
}

footer nav ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

footer nav ul li{
    display: inline-block;
    margin-left: 5%;
}

#paraQuienCompras{
    display: flex;
    align-items:center;
}

#paraQuienCompras div{
    padding: 5px;
}