*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100px 1100px 100px;
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
}

header{
    height: 100px;
    width: 100%;
    flex-wrap: wrap;
    grid-area: header;    
}

header span{
    background-color: white;
    width: 10%;
    height: 100%;
    float: left;
}

header span img{
    height: 50%;
    padding: 23px;
    border:  red 2px dashed;
}

#menuNavegacion{
    background-color: white;
    width: 90%;
    height: 50%;
    float:right;
}
#menuNavegacion ul{
    display: flex;
    justify-content: flex-end;
}

#menuNavegacion ul li{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    margin-right: 20px;
    margin-top: 5px;
}

#menuNavegacion ul li a{
    color: black;
}

#menuCarrito{
    background-color: white;
    width: 90%;
    height: 50%;
    float:right;
}

#menuCarrito ul{
    display: flex;
    justify-content: space-around;
}

#menuCarrito ul li{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
}

#menuCarrito ul li a{
    color:black;
}

main{
    grid-area: main;
    display: grid;
    width: auto;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "pd1 pd1 pd1 pd1"
                         "pd2 pd2 pd2 pd2"
                         "pp pp pp pp"
                         "cp cp cp cp";
}                   

.productoDestacado{
    grid-area: pd1;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "pdr primg";
    padding: 10px;
}

.productoDestacado h1{
    text-align: center;
    padding: 5px;
    font-family: 'Oswald', sans-serif;
}

.productoDestacado p{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5px;
    font-family: 'Oswald', sans-serif;
}

.productoDestacado button {
    margin-top: 20px;
    margin-left: 50%;
}

#imagenProductoDestacado{
    height: 100%;
}

.productoDestacado2{
    grid-area: pd2;
    display: flex;
    padding: 10px;
}

.productoDestacado2 h2{
    margin-left: 25px;
    font-family: 'Oswald', sans-serif;
}

.productoDestacado2 p{
    margin-left: 25px;
    margin-top: 5px;
    font-family: 'Oswald', sans-serif;
}

.productoDestacado2 button{
    margin-top: 10px;
    margin-left: 50%;
}

.pedidoPersonalizado{
    grid-area: pp;
    height: fit-content;
    display: flex;
    padding: 10px;
    justify-content:space-around;
}

.pedidoPersonalizado h2{
    font-family: 'Oswald', sans-serif;
}

.pedidoPersonalizado button{
    margin-left: 30px;
}

.pedidoPersonalizado button a{
    font-family: 'Oswald', sans-serif;

}

.catalogoPopular{
    grid-area: cp;
    height: auto;
    display: flex;
    padding: 10px;
    display: inline-block;
}

.catalogoPopular h2{
    text-align: center;
}

#botoneraPopular{
    display: flex;
    justify-content: space-around;
}

#botoneraPopular li{
    background-color: rgba(0, 0, 0, 0.123);
}

#video1{
    height: 100%;
}

#paraQuienCompras{
    display: flex;
    margin: 5px;
    justify-content: space-around;
}

#paraQuienCompras img{
    height: 70%;
    padding: 20px;
}

footer{
    background-color: white;
    grid-area: footer;
}

footer nav ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

footer nav ul li{
    display: inline-block;
    margin-left: 5%;
}

#mainTecnologias{
    display: flex;
}

#tipoTecnologias h2{
    text-align: center;
    padding: 20px;
}

#tipoTecnologias ul li{
    padding: 10px;
    text-align: center;
}

#tipoTecnologias iframe{
margin-left: 100px;
margin-top: 100px;
}

#mainPedidos{
    display: table-column;
    align-items: center;
    height: 50%;

}

#mainPedidos h1{
    text-align: center;
}

#mainPedidos p{
    text-align: center;
}

#mainPedidos img{
padding: 5%;
margin-left: 10%;
width: 75%;
}

#mainContactanos{
display: flex;
}